body {
    background-image: url('https://wallpapercave.com/wp/wp2763918.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
	
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/*generate icon highlight animation */
button {
	background-color:transparent;
    position: relative;
	cursor: pointer;
    transition-duration: .3s;
    overflow: visible;
    box-sizing: border-box;
    border: solid 4px #ffffff;
    padding: 10px 22px;
	font: 30px FreeMono, monospace;
	color: #ffffff;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*closing icon & animation */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@media (min-width:700px){
	header.bighead.titletext{
		padding-top:200px;
		padding-bottom:200px;
	}
	header.bighead .titletext{
		line-height: 100px;
		text-align:center;
		font-size:80px;
		font-style:italic;
		line-height:40px;
		margin-bottom:25px;
		color:#ffffff;
		font = FreeMono, monospace;;
	}
}

#navBar{
	padding-top:50px;
	padding-bottom:25px;
	border:none;
	background-color: rgba(0, 0, 0, 0.5);
}

.headercontainer { 
	padding: 0px;
	height: 200px;
	position: relative;
	margin-right: auto;
    margin-left: auto;
	}

.container { 
	padding: 15px;
	height: 730px;
	position: relative;
	margin-right: auto;
    margin-left: auto;
	}

.button_location {
	margin: 0;
	position: absolute;
	top: 90%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin-top:-75px;
}


