body {
	/*
	background-image: url('background/backgroundimg.png');
	background-repeat: no-repeat;
    background-size: cover;
	*/
    background-image: url('http://i.stack.imgur.com/kx8MT.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
	
}

button {
	background-color:transparent;
    position: relative;
	cursor: pointer;
    transition-duration: .3s;
    overflow: visible;
    box-sizing: border-box;
    border: solid 4px #ffffff;
    padding: 10px 22px;
	font: 30px FreeMono, monospace;
	color: #ffffff;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media (min-width:700px){
	header.bighead.titletext{
		padding-top:200px;
		padding-bottom:200px;
	}
	header.bighead .titletext{
		line-height: 100px;
		text-align:center;
		font-size:80px;
		font-style:italic;
		line-height:40px;
		margin-bottom:25px;
		color:#ffffff;
		font = FreeMono, monospace;;
	}
	header.bighead .intro-text .intro-heading{
		font-size:75px;
		font-weight:700;
		line-height:75px;
		margin-bottom:50px;
		font-family:Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
	}
}

#navBar{
	padding-top:50px;
	padding-bottom:25px;
	border:none;
	background-color: rgba(0, 0, 0, 0.5);
}

.headercontainer { 
	padding: 0px;
	height: 200px;
	position: relative;
	margin-right: auto;
    margin-left: auto;
	}

.container { 
	padding: 15px;
	height: 730px;
	position: relative;
	margin-right: auto;
    margin-left: auto;
	}

.button_location {
	margin: 0;
	position: absolute;
	top: 90%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin-top:-75px;
}


