<!DOCTYPE html>
<html lang="en">

<head>
	<title>Pawfect</title>
	<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static',filename='styles/style.css') }}">
	<script type = "text/javascript" src = "{{ url_for('static', filename='file.js') }}"></script>
</head>

<body id = "body">
	<nav id="navBar">
		<header class="bighead">
			<div class="headcontainer">
				<div class = "titletext"> Pawfect - A fun pet related content generator!</div>
			</div>
		</header>
	</nav>
	<div class="container">
		<div class = "button_location">
			<button onclick = "addContent()" id = "btn">
			Generate
			</button>
		</div>
		<div class = "center" id = "content_location">
		</div>
	</div>
	<div>
		<div class = "infobutton_location">
			<button  id="mpopupLink">info</button>
		</div>
	</div>
	
	<!-- The Modal -->
	<div id="myModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<p style="font-size:24px;"> This app "generates" a random pet related image or video :) </p>
			<p style="font-size:24px;">Credit: Jason James, Milena Gaarder, Quan Nguyen</p>
		</div>
		
	</div>
	
	<script>
		// get the mPopup
		var mpopup = document.getElementById('myModal');

		// get the link that opens the mPopup
		var mpLink = document.getElementById("mpopupLink");

		// get the close action element
		var close = document.getElementsByClassName("close")[0];

		// open the mPopup once the link is clicked
		mpLink.onclick = function() {
			mpopup.style.display = "block";
		}

		// close the mPopup once close element is clicked
		close.onclick = function() {
			mpopup.style.display = "none";
		}

		// close the mPopup when user clicks outside of the box
		window.onclick = function(event) {
			if (event.target == mpopup) {
				mpopup.style.display = "none";
			}
		}	
	</script>
</body>
</html>
